li{
    padding-left: 25px;
}
.container{
            margin-bottom: 60px;
}
#bg{
        background: url("bg-2.png");
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: 10%;
}

.bg-cont{
    background-image: url("bg-1.png");
    background-repeat: no-repeat;
    background-position:top;
    background-size: contain;
}
.carousel p,h1{
    padding-bottom: 30px;

}
.card{   
        padding-top: 30px;
        
}
h3{
        padding-bottom: 60px;
        padding-top:60px ;
}
h2{     text-align: center;
        padding-bottom: 30px;
        margin-left: 40px;
}
 

.a ,.b,.c{
            border: 3px black ridge;
            border-radius: 20px;
            padding: 10px;
}
.a {  
        margin-top: 150px;
        

}

.b,.c{ 
        margin-top: 30px;
        margin-bottom: 10px;
        
}
